
.new_discussion_search_bar{
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
}

.new_discussion_search_bar i{
    left: 20px;
}

.new_discussion_search_bar input{
    width: 100%;
    padding: 7px 0 7px 40px;
    background-color: var(--whatsapp-gray-bg);
    border: none;
    outline: none;
    border-radius: 5px;
}

.contacts_list{
    height: calc(100% - 170px);
    overflow: auto;
    scrollbar-width: thin;
}

.contacts_list_item{
    background-color: var(--whatsapp-white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
}

.contacts_list_item:hover{
    background-color: var(--whatsapp-gray-bg);
}

.contacts_list_item_pict{
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--whatsapp-white);
}

.contacts_list_item_pict img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.contacts_user_name h6{
    font-size: 1rem;
}

.contacts_user_name p{
    color: var(--whatsapp-gray);
    font-size: .8rem;
    opacity: .7;
}