/* **************   Right home head  *************** */
.right_home_container{
    background-color: var(--whatsapp-gray-bg);
    overflow: hidden;
}

.right_empty_home{
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/background/empty_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.right_home_container .right_home_chat{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--whatsapp-gray-bg);
    background-image: url('/assets/images/background/bg-chat.png');
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
}

.right_home_head{
    width: 100%;
    height: 60px;
    background-color: var(--whatsapp-light-bg);
}

.right_home_wrapper .chat_profil_pict{
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

/* **************   Right body  *************** */

.right_home_body{
    height: calc(100% - 120px);
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 0 50px 0 60px;
}

.chat_container{
    position: relative;
}


.left_message, .right_message{
    display: flex;
    margin: 5px 0;
    min-width: 100%;
}

.right_message{
    justify-content: end;
}


.left_message p, .right_message p{
    font-size: .9rem;
    padding: 10px 15px 0;
    width: 100%;
}

.message_container{
    display: inline-block;
    width: 65%;
    max-width: 65%;
    position: relative;
}

.left_message .message_container{
    background-color: var(--whatsapp-white);
    border-radius: 0 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.left_message .message_container::before{
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    background-image: linear-gradient(-135deg, var(--whatsapp-white) 0%, var(--whatsapp-white) 50%, transparent 50%, transparent 100%);
    width: 15px;
    height: 15px;
}

.right_message .message_container{
    background-color: #D9FCD4;
    border-radius: 10px 0 10px 10px;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.right_message .message_container::before{
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    background-image: linear-gradient(135deg, #D9FCD4 0%, #D9FCD4 50%, transparent 50%, transparent 100%);
    width: 15px;
    height: 15px;
}

.send_info{
    display: inline-block;
    float: right;
    clear: right;
    position: relative;
    bottom: 0px;
    right: 0%;
    color: var(--whatsapp-gray);
    font-size: .8rem;
    opacity: .85;
    padding: 0 5px;
    margin: 0 5px 5px 0px;
}

.send_info .fa-check-double{
    color: blue;
}

/* **************   Right home footer  *************** */

.right_home_footer{
    width: 100%;
    height: 60px;
    background-color: var(--whatsapp-light-bg);
    background-color: #f5f6f6;
}

.right_home_footer .wrapper i{
    font-size: 1.2rem;
    padding: 0 10px;
}

.right_home_footer .wrapper .fa-paperclip{
    transform: rotate(45deg);
}

.right_home_footer .wrapper .voice_msg{
    margin-left: 10px;
}

.right_home_footer .chat_search_bar{
    width: 100%;
}

.right_home_footer .chat_search_bar input{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 1.1rem;
}

@media screen and (max-width:880px){
    
    .right_home_body{
        padding: 0 15px 0 15px;
    }
}

@media screen and (max-width:660px){
    .message_container{
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }
}